<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>Sample GoogleMap with Route and Numbered Markers</title>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&libraries=places&language=ja"></script>

<link rel="stylesheet" href="/map.css">

</head>

<body>
  <div id="map"></div>
  <div id="route-info">
    <p>出発地</p>
    <!-- Start地点のボタン -->
    <div id="start-buttons">
        <!-- jsで設定 -->
    </div>

    <p>目的地</p>
     <!-- End地点のボタン -->
    <div id="end-buttons">
          <!-- jsで設定 -->
    </div>

    <button onclick="calculateAndDisplayRoute()">ルート検索</button>
    <div id="points"></div>
    <div id="duration">総所要時間: 未定</div>
  </div>

<script src="/map.js"></script>

</body>
</html>
