html, body { height: 100%; margin: 10px; padding: 0; }
#map { height: 80%; width: 60%; float: left;}
#route-info { width: 37%; float: right; padding: 0px; }
#points { font-size: 15px; }
#duration { font-size: 20px; }

/* スタートボタンとエンドボタンの基本スタイル */
#start-buttons button,
#end-buttons button,
#route-create {
  font-size: 16px;       /* フォントサイズ */
  margin: 5px;           /* ボタン間のマージン */
  padding: 5px 15px;    /* パディング */
  cursor: pointer;       /* カーソルスタイル */
  border: 1px solid #ccc;/* 枠線 */
  background-color: #fff;/* 背景色 */
  border-radius: 5px;    /* 角の丸み */
  transition: background-color 0.3s, border-color 0.3s; /* 色の変化を滑らかに */
}

/* マウスオーバー時のボタンのスタイル */
#start-buttons button:hover,
#end-buttons button:hover,
#route-create:hover {
  background-color: #f8f8f8; /* ホバー時の背景色 */
  border-color: #818080;        /* ホバー時の枠線色 */
}

/* 選択されたボタンのスタイル */
#start-buttons button.selected,
#end-buttons button.selected {
  background-color: #8a8a8a;
  color: #ffffff;
}
/* アコーディオンボタンのスタイル */
.accordion {
    display: inline-block; /* ボタンをインラインブロック要素にする */
    margin: 10px; /* ボタン間の間隔 */
    background-color: #eee; /* 背景色 */
    color: #444;           /* 文字色 */
    cursor: pointer;       /* カーソルスタイル */
    border-radius: 5px; /* 角の丸み */
    padding: 10px;         /* パディング */
    width: 100%;           /* 幅を親要素に合わせる */
    border: none;          /* 枠線なし */
    text-align: left;      /* テキストを左寄せ */
    outline: none;         /* アウトラインを消す */
    font-size: 15px;       /* フォントサイズ */
    transition: 0.4s;      /* アニメーション効果 */
    width: calc(60%); /* ボタンの幅を親要素の100%から余白とパディング分を差し引いた幅にする */
  box-sizing: border-box; /* ボックスサイズをボーダーとパディングを含むようにする */
  }
  
  /* マウスオーバー時のボタンのスタイル */
  .accordion:hover {
    background-color: #ccc; /* ホバー時の背景色 */
  }
  
  /* アクティブな状態のボタンスタイル（オプション） */
  .accordion.active {
    background-color: #ddd; /* アクティブ時の背景色 */
    color: #000;            /* アクティブ時の文字色 */
  }

  .accordion-image {
    max-width: 430px;
    height: auto;    /* 高さを自動調整 */
    margin: 0 10px;
  }
  .accordion-info {
    font-size: 12px; /* フォントサイズを指定 */
    color: #333;     /* 文字色を指定 */
    margin: 0px 10px;   /* 上下のマージンを指定 */
    padding: 5px;    /* パディングを指定 */
  }

  .accordion-info-start_end {
    font-size: 12px; /* フォントサイズを指定 */
    color: #333;     /* 文字色を指定 */
    margin: 0px 10px;   /* 上下のマージンを指定 */
    padding: 5px;    /* パディングを指定 */
  }